In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('training.csv')

In [3]:
data.head()

  column1 column2 column3 column4
0  value1  value2  value3  value4
1  value1  value2  value3  value4
2  value1  value2  value3  value4
3  value1  value2  value3  value4
4  value1  value2  value3  value4